/*https://stackoverflow.com/questions/18096378/full-screen-div-that-fits-browser-size*/
* {
  font-family: monospace;
}

/*body {
  display: flex;
}*/

.box1{
  flex: 1;
}

.box3 {
  flex:5;
}
.container {
  display: flex;
  /*border: solid 1px;*/
}

.navBar{
  display: flex;
  background-color: #303633;
  height: 3em;
  position: sticky;
  top: 0;
  /*border: solid 1px;*/
}
.navLogo {
  flex: 1;
}

.navEmpty {
  flex: 2;
  /*border: solid 1px;*/

}

.navLinks {
  flex: 1;
  display: flex;
  /*border: solid 1px;*/
}

.link {
  flex: 1;
  text-decoration: none;
}

.iconLinks {
  display: flex;

}

.icon {
  flex:1;
  height: 5em;
  width: 5em;
  flex-direction: column;
  margin: 0.5em;
}
/*
.bio {
  border: solid 1px;
  display: flex;
  flex: 1;
}*/

/*.aboutContainer{
  border: solid 1px;
}*/

.tool {
  height: 100px;
  width: 100px;
  margin: 10px;
  flex: 1;
}
